@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

/* minhas paletas de cores 
   #001449
   #012677
   #005bc5
   #00b4fc
   #17f9ff
*/

/* estilizaçao do header */
header {
    background-color: #f9e14b;
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

h1 {
    color: #001449;
    align-items: baseline;
    justify-content: end;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 800;
}

header img {
    width: 160px;
    height: 140px;
}

.header-list ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.header-list ul a {
    color: #001449;
    text-decoration: none;
    font-family: "Noto Sans Mono", monospace;
    font-size: 18px;
    font-weight: 1000;
    gap: ;

}

/* fim da estilizacao do header */

/* comeco das estilizacoes das sections */

/* Começo da section-01 */
.section01 {
    background-color: #f9e14b;
    padding: 250x;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #17f9ff;
    font-size: 20px;
    text-align: center;
    gap: 30px;
}

.paragrafo-01 {
    color: #012677;
    margin-bottom: 150px;
    font-weight: 500;
    font-family: "Noto Sans Mono", monospace;
    margin-right: 40px;
    max-width: 400px;
    margin-bottom: 1px;
    font-family: "Roboto", sans-serif;
}

.paragrafo-01 span {
    color: #001449;
    text-align: initial;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.section01 img {
    width: 600px;
    height: 180px;
    border-radius: 20px;
    margin-bottom: 20px;

}

/* Fim da section-01 */

/* começo da section-02 */
.section02 {
    display: flex;
    background-image: url(imagens-nacionais/BackGroun-section-02.jpg );
    padding: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.section02 a {
    background-color: #001449;
    padding: 10px;
    color: #17f9ff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Noto Sans Mono", monospace;
}

.paragrafo-section-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.h2-section-02 {
    padding: 10px;
    border-radius: 10px;
    background-color: #001449;
    color: #f9e14b;
    font-size: 35px;
    font-weight: 600;
    font-family: "Noto Sans Mono", monospace;
}

/* Fim da section-02 */

/* começo da section-03 */
.section03 {
    background-color: #f9e14b;
    display: flex;
    flex-direction: column;
    padding: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.destinos {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 30px;

}

.info-viagens{
    font-family: "Noto Sans Mono", monospace;
}


.destino-img {
    border-radius: 30px;
    width: 500px;
    height: 400px;
}

.h2-section-03-04 {
    color: #001449;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 800;
    font-family: "Noto Sans Mono", monospace;
}

.estados {
    font-size: 25px;
    font-weight: 800;
    font-family: "Noto Sans Mono", monospace;
}

.saida-dos-estados {
    font-size: 15px;
    font-weight: 500;
    font-family:"Noto Sans Mono", monospace ;
    font-weight: ;
}

.valores {
    font-size: 30px;
    font-weight: 600;
    font-family: "Noto Sans Mono", monospace;
}

.viagens-internacionais {
    display: flex;
    align-items: center;
    margin-top: 110px;
    background-color: #012677;
    color: #17f9ff;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    border-radius: 20px;

}

/* Fim da section-03 */

footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-icon {
    color: #012677;
    font-size: 30px;
}

.direitos {
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: ;
}

/* Aqui a baixo ficara as Viagens-Internacionais */

/* começo da section-04 */
.section04 {
    padding: 150px;
    background-color: #f9e14b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Fim da section-04 */

/* começo da section-05 */
.section05 {
    background-color: #012677;
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

}

.feed-back {
    font-size: 30px;
    font-weight: 400;
    color: #f9e14b;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

.feed-back-02 {
    margin-top: 30px;
    color: #f9e14b;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.clientes {
    display: flex;
    gap: 30px;
}

.avaliacao {
    padding: 40px;
    width: 300px;
    height: 300px;
    background-color: #f9e14b;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #012677;
    font-size: 24px;
    border-radius: 30px;
}

.fa-star {
    color: rgb(15, 13, 3);

}

/* Fim da section-05 */

/* Fim da estilizacao das viagens Internacionais */

.header-formulario {
    align-items: center;
    justify-content: center;
}

.Logo-header {
    width: 400px;
    height: 150px;
}

/* começo da section-06 */

.section06 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9e14b;
    padding: 150px;

}

.div-formulario {
    padding: 20px;
    height: 200px;
    background-color: #012677;
    border-radius: 20px;
    color: #f9e14b;
    font-size: 15px;
    font-weight: 600;
    font-family:"Roboto", sans-serif ;

}

.finalizar-resetar{
    display: flex;
   justify-content: center;
   gap: 10px;
}

.botoes-inscricao{
    padding: 2px;
    background-color: #f9e14b;
    color: #012677;
    font-size: 15px;
    font-weight: 500;
    font-family:"Roboto", sans-serif ;
    border-radius: 10px;
}