* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

/* minhas paletas de cores 
   #001449
   #012677
   #005bc5
   #00b4fc
   #17f9ff
*/

body{
    color:#001449 ;
    color: #012677;
}


/* estilizaçao do header */
header {
    background-color: #00b4fc;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #001449; 
    align-items: baseline;
    justify-content: end;
    margin-left: 150px;
    font-family: "Noto Sans Mono", monospace;
    font-size: 40px;
    font-weight: 800;
}

header img {
    width: 140px;
    height: 140px;
}

.header-list ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.header-list ul a {
    color:#001449 ;
    text-decoration: none;
    font-family: "Noto Sans Mono", monospace;
    font-size: 15px;
    
}

/* fim da estilizacao do header */

/* comeco das estilizacoes das sections */

/* Começo da section-01 */
.section01 {
    background-color: #00b4fc;
    padding: 20x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #17f9ff;
    font-size: 20px;
    text-align: center;
    gap: 30px;
}

.paragrafo-01 {
    color:#012677;
    margin-bottom: 150px;
    font-weight: 500;
    font-family: "Noto Sans Mono", monospace;
    margin-right: 40px;
}

.paragrafo-01 span {
    color: #001449;
    text-align: initial;
    font-family: "Noto Sans Mono", monospace;
    font-size: 30px;
    font-weight: 600 ;
}

.section01 img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
}
/* Fim da section-01 */

/* começo da section-02 */
.section02{
    display: flex;
    background-image: url(imagens/iamegenSection-02.jpg);
    padding: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.section02 a{
    background-color: #001449 ;
    padding: 10px;
    color:#17f9ff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Noto Sans Mono", monospace;
}